/* Basic styles for the loading spinner */
#loadingSpinner {
    display: none; /* Hidden by default */
    position: fixed;
    left: 45%;
    top: 39%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1001; /* Ensure spinner is above the overlay */
}
#loadingOverlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(10px); /* Blur effect */
    z-index: 1000; /* Ensure overlay is above all other content */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 900px) {
    #loadingSpinner {
        left: 15%;
        top: 39%;
    }
}

@media (max-width: 480px) {
    #loadingSpinner {
        left: 19%;
        top: 39%;
    }
}